/* Below for all pages */

a:link {color: white;text-decoration: none;
	border-bottom: 0px dashed black;}
a:visited {color: white;text-decoration: none;
	border-bottom: 0px dashed black;}
a:hover { color: #78AFDE;text-decoration: none;
	border-bottom: 0px dashed;}
a:active {color: #78AFDE;text-decoration: none;
	border-bottom: 0px dashed;}
  
body {
  background-image: url("pbackground.jpg");
  background-attachment: fixed;
  padding-top: 3%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  background-color: #295477;
  color: white;
}

#inline {
  background-image: url("pbackground.jpg");
  background-attachment: fixed;
  padding-top: 3%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  background-color: #295477;
  color: white;
}

#inline a:link {color: white;text-decoration: none;
	border-bottom: 0px dashed black;}
#inline a:visited {color: white;text-decoration: none;
	border-bottom: 0px dashed black;}
#inline a:hover { color: #78AFDE;text-decoration: none;
	border-bottom: 0px dashed;}
#inline a:active {color: #78AFDE;text-decoration: none;
	border-bottom: 0px dashed;}

img {
  max-width: 100%;
  height: auto;
}
	
/* pages */
div.title {
font-family: gabriola,calibri,arial;
  text-align: center;
  font-size: 40px;
  }
	
div.stuff {
font-family: calibri,arial;
  text-align: left;
  font-size: 18px;
 }
	
  div.crew {
padding-right: 0%;
  padding-left: 0%;
font-family: calibri,arial;
  text-align: center;
  font-size: 16px;
  }

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

div.inli {
  position: fixed;
  left: 6%;
  top: 15%;
}

/* name image on main page */
div.pname {       
  position: fixed;
  left: 30%;
  top: 5%;
}

/* menu */
div.menu {
  position: fixed;
  left: 40%;
  top: 20%;
text-align: center;
  font-family: calibri,arial;
  font-size: 20px;
  color: white;
}
	
div.mimg {
  position: fixed;
  left: 25%;
  bottom: 10%;
}
