/* all pages */

a:link {color: #BAC8D6;text-decoration: none;
	border-bottom: 0px dashed black;}
a:visited {color: #BAC8D6;text-decoration: none;
	border-bottom: 0px dashed black;}
a:hover { color: white;text-decoration: none;
	border-bottom: 0px dashed;}
a:active {color: white;text-decoration: none;
	border-bottom: 0px dashed;}
  
body {
  background-image: url("pbackground.jpg");
  background-attachment: fixed;
  padding-top: 7%;
  padding-right: 5%;
  padding-left: 5%;
  padding-bottom: 5%;
  background-color: #295477;
  color: white;
}

hr.dash {
	border-top: 1px dashed white; 
  height: 1px; 
  border-bottom: 0px;
}

#inline {
  background-image: url("pbackground.jpg");
  background-attachment: fixed;
  padding-top: 1%;
  padding-right: 10%;
  padding-left: 10%;
  padding-bottom: 5%;
  background-color: #295477;
  color: white;
}

#inline a:link {color: #BAC8D6;text-decoration: none;
	border-bottom: 0px dashed black;}
#inline a:visited {color: #BAC8D6;text-decoration: none;
	border-bottom: 0px dashed black;}
#inline a:hover { color: white;text-decoration: none;
	border-bottom: 0px dashed;}
#inline a:active {color: white;text-decoration: none;
	border-bottom: 0px dashed;}

img {
  max-width: 100%;
  height: auto;
}

img.bemo {
  border: 1px dashed white;
	max-width: 100%;
  height: auto;
}
	
/* individual pages */
div.title {
font-family: gabriola,calibri,arial;
  text-align: center;
  font-size: 40px;
  }
	
div.stuff {
	padding-right: 5%;
  padding-left: 5%;
font-family: calibri,arial;
  text-align: left;
  font-size: 16px;
 }
	
  div.crew {
padding-right: 0%;
  padding-left: 0%;
font-family: calibri,arial;
  text-align: center;
  font-size: 16px;
  }

figcaption {
  caption-side: right;
}

div.inli {
  position: fixed;
  left: 6%;
  top: 15%;
}

/* images on main page */

img.accent {
	 position: fixed;
  left: 2%;
  top: 5%;
}
	
div.pname {       
  position: fixed;
  left: 10%;
  top: 5%;
}

div.season {       
  position: fixed;
  left: 50%;
  top: 10%;
}

/* menu */
div.menu {
  position: fixed;
  left: 40%;
  top: 20%;
text-align: center;
  font-family: calibri,arial;
  font-size: 20px;
  color: white;
}
	
div.mimg {
  position: fixed;
  left: 25%;
  bottom: 10%;
}
